In [22]:


import pyarrow as pa
import numpy as np

from arrow_ext import ext


a = pa.array(["1", "1", "3", None, None])
b = pa.array([0, 1, 2, 1, 2], type=pa.int32())

tb = pa.table([a,b],names=["a","b"])

tb.to_pandas()

      a  b
0     1  0
1     1  1
2     3  2
3  None  1
4  None  2

In [6]:
tb.take(ext.getUniqueRowIndex(a)).to_pandas()

      a  b
0     1  0
1     3  2
2  None  1

In [7]:
tb.take(ext.getUniqueRowIndex(tb['a'].combine_chunks())).to_pandas()

      a  b
0     1  0
1     3  2
2  None  1

In [7]:
tb.filter(ext.duplicatesFilter(a)).to_pandas()

   a  b
0  1  0
1  3  2

In [4]:

tb.filter(ext.duplicatesFilter(tb['a'].combine_chunks())).to_pandas()

   a  b
0  1  0
1  3  2

# speed test

In [1]:


import pyarrow as pa
import numpy as np

from arrow_ext import ext


a = pa.array(["1", "1", "3", "4", "5", "6", None, None]*10000000)
b = pa.array([0, 1, 2, 1, 2], type=pa.int32())

In [9]:
pa.StringScalar

pyarrow.lib.StringScalar

In [ ]:
np.random.randint(0,500000,2000000)

In [2]:
import pyarrow.compute as pc
b = pa.array(np.random.randint(0,5000000,10000000), type=pa.int32())
c = pc.cast(b, pa.string())

In [3]:
%%time
f = ext.duplicatesFilter(c)

CPU times: user 6.92 s, sys: 227 ms, total: 7.15 s
Wall time: 7.15 s

In [4]:
%%time
f1 = ext.getUniqueRowIndex(c)

CPU times: user 8.27 s, sys: 63.8 ms, total: 8.33 s
Wall time: 8.33 s