In [2]:


import pyarrow as pa
import numpy as np

from arrow_ext import ext


a = pa.array(["1", "1", "3"])
b = pa.array([0, 1, 2], type=pa.int32())
tb = pa.table([a,b],names=["a","b"])

tb.to_pandas()

   a  b
0  1  0
1  1  1
2  3  2

In [6]:
tb.take(ext.getUniqueRowIndex(a)).to_pandas()

   a  b
0  1  0
1  3  2

In [3]:
tb.take(ext.getUniqueRowIndex(tb['a'].combine_chunks())).to_pandas()

   a  b
0  1  0
1  3  2

In [7]:
tb.filter(ext.duplicatesFilter(a)).to_pandas()

   a  b
0  1  0
1  3  2

In [4]:

tb.filter(ext.duplicatesFilter(tb['a'].combine_chunks())).to_pandas()

   a  b
0  1  0
1  3  2